{% extends 'base.html.twig' %}

{% block title %}WorkShops index{% endblock %}

{% block body %}
    <h1>WorkShops index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>User</th>
                <th>Schedule</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for work_shop in work_shops %}
            <tr>
                <td>{{ work_shop.id }}</td>
                <td>{{ work_shop.name }}</td>
                <td>{{ work_shop.user }}</td>
                <td>{{ work_shop.schedule }}</td>
                <td>
                    <a href="{{ path('app_work_shops_show', {'id': work_shop.id}) }}">show</a>
                    <a href="{{ path('app_work_shops_edit', {'id': work_shop.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_work_shops_new') }}">Create new</a>
{% endblock %}
