{% extends 'base.html.twig' %}

{% block title %}WorkShops{% endblock %}

{% block body %}
    <h1>WorkShops</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ work_shop.id }}</td>
            </tr>
            <tr>
                <th>Name</th>
                <td>{{ work_shop.name }}</td>
            </tr>
            <tr>
                <th>User</th>
                <td>{{ work_shop.user }}</td>
            </tr>
            <tr>
                <th>Schedule</th>
                <td>{{ work_shop.schedule }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_work_shops_index') }}">back to list</a>

    <a href="{{ path('app_work_shops_edit', {'id': work_shop.id}) }}">edit</a>

    {{ include('work_shops/_delete_form.html.twig') }}
{% endblock %}
